

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

section#content {
  margin:0 auto;
  width:960px;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

	}
	
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

<style>

.pagewrapper{
	width:960px;
	margin:0 auto 0 auto;
}

body{
	width:960px;
	margin:0 auto;
}

h1{
	position:relative;
	font-weight:bold;
	font-family:Helvetica;
	font-size:18px;
}

#top-nav{
	position:absolute;
	top:8%;
	left:8%;
}

img{
	width:400px;
	position:relative;
	margin:10px;
}

article{
	float:left;
	width:400px;
	margin:10px;
}

#site-footer{
	position:relative;
	clear:both;
}

#site-footer p1 {
	float:left;
	margin:10px;
	font-size:10px;
}

#site-footer p2 {
	float:right;
	margin:10px;
	font-size:10px
}

p{
	font-family:Helvetica;
	color:grey;
	font-size:12px;
}

header img{
	position:relative;
	top:25%;
	left:25%;
}

nav ul {
  width: 960px; 
  margin: 0 auto;
  margin-left: 180px;
}

nav li {
  line-height: 90px;
  float: left;
  text-align: center;
  width: 150px;
  font-family:Helvetica;
  color:lightgray;
}

</STYLE>